---
export interface Props {
  title: string;
  description: string;
  publishDate: string;
  url: string;
}

const { title, publishDate, url } = Astro.props as Props;
---

<article class="">
  <header>
    <time class="text-[11px] text-neutral-400/90 tracking-wide">{publishDate}</time>
    <a href={url} class="text-lg font-medium text-neutral-800 hover:underline leading-tight">
      <h1 class="pt-[2px]">{title}</h1>
    </a>
  </header>
</article>