---
export interface Props {
  title: string;
  description: string;
  publishDate: string;
  url: string;
}

const { title, publishDate, url } = Astro.props as Props;
---

<article class="">
  <header>
    <time class="text-xs text-neutral-400 tracking-wide mb-8">{publishDate}</time>
    <a href={url} class="text-lg font-medium text-neutral-800 hover:underline">
      <h1 class="">{title}</h1>
    </a>
  </header>
</article>